---
layout: default
---

<div style="margin-bottom: 0.05rem; padding-bottom: 0.05rem;">
    <div style="display: inline-block; float:left">
        <a href="{{ site.url }}">{{ site.theme_config.back_home_text }}</a>
    </div>
    <div style="display: inline-block; float:right">
        <h4>2020-09-19 22:55</h4>
    </div>
</div>        
<h1 id="page_title">{{ page.title }}</h1>
{{ content }}
<div style="margin-top: 0.05rem; padding-top: 0.05rem;">
    <div style="display: inline-block; float:right">
        <a href="#page_title">▲</a>
    </div>
</div>    